/* write your carousel css in this file */

.carousel-container{
    height: 600px;
    width: 850px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    object-fit: cover;
    width: inherit;
}

.arrowDiv{
    width: 40px;
    height: inherit;
    background-color: black;
    color: white;
    opacity: 0.8;
}

.arrowDiv:hover{
    background-color: rgba(63,60,60, 0.567);
    opacity: 0.5;
    background-color: rgb(183, 183, 183);
}
.leftArrow,.rightArrow{
    width: 40px;
    height: inherit;
    cursor: pointer;
}

.title{
    position: absolute;
    top: 30px;
    font-size: 55px;
    background-color: white;
    padding: 3px;
    border-radius: 5px;
}

.caption{
    position: absolute;
    bottom: 30px;
    background-color: white;
    padding: 3px;
    border-radius: 5px;
}